@media only screen and (min-width:768px) and (max-width:992px){
    .building-shape-grid {
    width: 738px;
    margin: auto;
    height: 225px;
    display: grid;
    grid-template-columns: 202px 50px 50px 50px;
    grid-template-rows: 50px 50px;
    grid-column-gap: 95px;
    grid-row-gap: 64px;
    padding: 20px 0px 0px 0px;
    }
    .building-shape-grid-two {
    display: grid;
    width: 739px;
    height: 110px;
    margin: auto;
    grid-template-columns: 202px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px;
    grid-gap: 96px;
    padding: 20px 0px 0px 0px;
    }
    .building-shape-flex {
    justify-content: space-between;
    }   
    .building-shape-grid-two-text-container{
        text-align: end;
        width: 725px;
        margin: auto;
        margin-top:-100px
    }
}
@media only screen and (min-width:300px) and (max-width:767px){
    .container{
        max-width:1440px;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .head h2 {
        width: 309px;
    }
    .navber-nav{
        display: none;
        position: absolute;
        top:48px;
        right:0px;
        background:white;
        padding-top: 10px
    }
    .navber-nav ul li{
    display: block !important;
    margin-bottom:30px;
    text-align:center
    }
    .navber-dropdwon-btn{
        display: block; 
    }
    .navber-one{
    display: none !important
}
.navber-sub-two{
    display: none !important
}
.navber-two ul{
    display: none !important
}
    .navber-dropdwon-btn-flex{
        display: flex !important;
        flex-direction: column;
        border:2px solid black;
        padding:4px 5px 2px 5px;
        border-radius:6px;
        transition:0.4s;
    }
    .navber-dropdwon-btn-flex div{
        width: 20px;
        height: 2px;
        margin-bottom:4px;
        background: black;
    }
     .navber-dropdwon-btn-flex:hover div{
        background: white;
    }
     .navber-dropdwon-btn-flex:hover{
        border:2px solid white;
    }
    .home-img{
        position:absolute;
        top:600px  
    }
    .home-container{
        flex-direction: column;
        align-items: center;
    }
    .home-sub-text h2{
        color: black
    }
.home-sub-text p{
        color: black
    }
.home-sub-text p::after{
        background: black
    }
    .logo-designs-section{
        padding-top: 600px
    }
    .logo-dsigns-part{
        flex-direction: column;
        align-items: center;
    }
    .generating-ideas-img img {
        width: 8rem;
    }
    .logo-dsigns-part {
        display: flex;
        justify-content: normal;
    }
    .logo-dsigns-part-flex{
        display: flex;
        align-items: center;
    }
    .font-text-two {
        padding: 53px 0px 33px 0px;
    }
    .color-img img {
        width: 9rem;
    }
    .color-img p {
        width: 246px;
    }
    .cs-two-imgo {
        width: 100%;
    }
    .cs-two-img img {
        width: 51%;
        height: 31vh;
    }
    .bee-text {
        font-size: 1.2rem;
    }
    .bengal-bee-tex {
        letter-spacing: 1.0rem;
        font-size: 1.6rem;
    }
    .bangal-bee-two-img {
        width: 100%;
    }
    .contact-footer-text {
        font-size: 1.7rem;
    }
    .building-shape-grid {
        grid-template-columns: 77px 50px 50px 50px;
        grid-gap: 9px;
        justify-content: space-between;
        width: 277px;
        height: 103px;
        margin: auto;
    }
    .building-shape-flex {
    display: flex;
    justify-content: space-between;
    width: 277px;
    margin: auto;
    }
    .building-shape-grid img {
        margin-left: 0px; 
    }
    .building-shape-grid img {
        width: 65px;
    }
    .building-shape-grid-two img {
        width: 67px;
    }
    .building-shape-grid-two {
        grid-template-columns: 70px 50px 50px 50px 50px;
        grid-gap: 18px;
        justify-content: space-between;
        padding: 20px 0px 0px 0px;
        width: 277px;
        height: 81px;
        margin: auto;
    }
    .building-shape-flex img {
        width: 67px;
    }
    .flex-three {
        padding: 4px 0px 0px 0px;
    }
    .building-shape-flex-two img {
        width: 67px;
        margin: 0px 11px;
    }
    .building-shape-flex-two span{
        font-size: 1rem
    }   
    .building-shape-grid-two-text-container{
        text-align: end;
        width: 277px;
        margin: auto;
        margin-top:-100px
    } 
    .building-shape-grid-two-text::after {
        width: 75px;
    }
}  
@media only screen and (min-width:374px) and (max-width:767px){
    .cs-two-img img {
        height: 46vh;
    }
}
@media only screen and (min-width:413px) and (max-width:767px){
    .cs-two-img img {
        height: 50vh;
    }
}
@media only screen and (min-width:463px) and (max-width:767px){
    .cs-two-img img {
        height: 54vh;
    }
}
@media only screen and (min-width:516px) and (max-width:767px){
    .cs-two-img img {
        height: 62vh;
    }
}
@media only screen and (min-width:626px) and (max-width:767px){
    .cs-two-img img {
        height: 69vh;
    }
}